
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* style for the form and status display */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 16px;
}

label {
    font-size: 18px;
    font-family: 'ariel', sans serif;
    font-weight: 600;
}

.container input[type="text"] {
    padding: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}
.container input[type="submit"] {
    background: #4caf50;
    color: white;
    margin-top: 20px;
    border-radius: 100px;
    padding: 12px 10px;
    border: none;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-family: ariel;
}
.container input[type="submit"]:hover {
    background: #024b05;
}
.status {
    padding: 16px;
    text-align: center;
    font-size: 16px;
    font-family: ariel;
    display: none;
}
